<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Chat</title>
  
   <!-- load local stylesheet (css) -->
   <link rel="stylesheet" href="/styles.css" />
   <!-- loading jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

   <%- include("partials/banner.ejs") %>
   <!-- load local js -->
   
    <!--messages will go here -->
    <h2 class="chatHeader"><%=friendName%></h2>
    <hr>
    <% if((chats == undefined)|| (chats.messages.length == 0)) { %>
    
        <p>No chats yet. Send one!</p>

    <% } else { %>
      <div id="messages">
        <% chats.messages.forEach( (elt) => {%>
         <% if (elt.sender == currUser){%>
            <div class="singleChatCurr">
               <p class="messageSender"><%=elt.sender%></p>
               <p class='messageContentCurr'><%=elt.message%></p>
               <p class="messageTimestamp"><%=elt.timestamp%></p>
            </div>
            
            <% } else { %>
               <div class="singleChatOther">
                  <p class="messageSender"><%=elt.sender%></p>
                  <p class='messageContentOther'><%=elt.message%></p>
                  <p class="messageTimestamp"><%=elt.timestamp%></p>
               </div>
               
            <% } %>
         
         <% }); %>
      </div>
    <% } %>

   <script src="/main.js"></script>
<div id="textbox">
   <!-- load a dropdown form containing all incomplete values -->
   <form method="post" action="/chat/<%=friendUser%>">
   
   <textarea id="chat" name="message" rows="5" cols="90">

   </textarea>
   <input type="submit" value="Send">

   </form>
</div>



</body>
</html>






