<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Select Movie</title>
  
   <!-- load local stylesheet (css) -->
   <link rel="stylesheet" href="/styles.css" />
   <!-- loading jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

   <%- include("partials/banner.ejs") %>
   <%- include("partials/navbar.ejs") %>
   <h1>Chats</h1>
   <!-- load local js -->
   <div id="messages">
    <!--messages will go here -->
    <% if((chats == undefined)|| (chats.messages.length == 0)) { %>
    <div class="singleChat">
        <p>No chats yet. Send one!</p>

    </div>
    <% } else { %>
        <% chats.messages.forEach( (elt) => {%>
         <% if (chats.messages.sender == currUser){%>
            <div class="singleChatCurr">
               <span class="messageSender"><%=elt.sender%></span>
               <span class='messageContentCurr'><%=elt.message%></span>
               <span class="messageTimestamp"><%=elt.timestamp%></span>
            </div>
            <% } else { %>
               <div class="singleChatOther">
                  <span class="messageSender"><%=elt.sender%></span>
                  <span class='messageContentOther'><%=elt.message%></span>
                  <span class="messageTimestamp"><%=elt.timestamp%></span>
               </div>
            <% } %>
         
         <% }); %>
    <% } %>
   </div>
   <script src="/main.js"></script>
<div>
   <!-- load a dropdown form containing all incomplete values -->
   <form method="post" action="/chat/<%=chats.receiver.userID%>">
   
   <textarea id="chatBox" name="message" rows="5" cols="50">

   </textarea>
   <input type="submit" value="Send">

   </form>
</div>



</body>
</html>






