<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Chats</title>
  
   <!-- load local stylesheet (css) -->
   <link rel="stylesheet" href="/styles.css" />
   <!-- loading jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
   
   <%- include("partials/banner.ejs", {user: currentUser}) %>
   <h1>Chats</h1>

   

   <!-- load local js -->
   <script src="/main.js"></script>
   <!-- load a dropdown form containing all incomplete values -->
   <h2><%= currentUser %>'s chats</h2>
   <%- include("partials/flashes.ejs") %>
   <hr>
   <% if( (chats.length == 0)|| (chats == null) ) { %>
      <p>Looks like you haven't chatted with anyone yet. Don't be afraid to be the first to reach out!</p>
      
      <% } else { %>
         
         <table class="chatList">
            <% chats.forEach( (elt) => {%>
               <% elt.users.forEach( (u) => {%>
                  <% if( u.userID !== currentUser ) { %>
                     <tr onClick="location.href='/chat/<%=u.userID%>';">
                        
                     <td class="chatter">
                        <% if (Object.keys(pictures).includes(u.userID)){%>
                           <img class="profilePic" src="<%=pictures[u.userID].filepath%>" alt="profile pic">

                        <%} else {%>
                           <img class="profilePic" src="/person-placeholder.jpeg" alt="profile pic">
                        <%}%>
                        
                        <span class="chatterName"><%= u.name %></span>
                        <br>
                        <% if (elt.messages[0] !== undefined) {%>
                        <span class="chatPreview"><%=elt.messages[0].message%></span>
                     </td>
                        <% } %>

                  </tr>
                     <% } %>
                  <% }); %>
            
            <% }); %>
        </table>
      <% } %>
   
   <!-- load local js -->
   <script src="/main.js"></script>




</body>
</html>


