<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <%- include("partials/banner.ejs", {user: data.username}) %>

<div class="row">
    <form class="editProfile"
          method="post"
          action="/profile/edit/<%= data.username %>">
      <div class="column">
      
      <% if (data.picture){ %>
          <img class="profilepic" src="<%= data.picture.filepath %>" alt="<%= data.picture.alt %>">
          <p><a href="/profile/upload/<%= data.username %>">Upload new profile picture!</a></p>
      <% } else { %>
        <p><a href="/profile/upload/<%= data.username %>">Add a profile picture!</a></p>
      <% } %>

      <% if (data.LinkedIn){ %>
        <p><a href="/profile/connectLinkedIn/<%= data.username %>">Update your LinkedIn link!</a></p>
    <% } else { %>
        <p><a href="/profile/connectLinkedIn/<%= data.username %>">Connect your LinkedIn!</a></p>
    <% } %>

      <p><label>Name*: <input name="name" value="<%= data.name %>" required></label></p>

      <p><label>Wellesley Username*: <%= data.username %></label></p>
      
      <p><label>Pronouns: <input name="pronouns" value="<%= data.pronouns %>"></label></p>
      
      <p><label>Class Year*: <input name="classyear" value="<%= data.classyear %>" required></label></p>
      
      <p class="majors"><label>Major*:
          <select name="major" required>
            <option><%= data.major[0] %></option>
            <option>choose major</option>
    
            <% majors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        <p class="majors"><label>Add another major:
          <select name="major2">
            <% if (data.major[1] == null){ %>
                <option>choose major</option>
            <% } else{ %>
                <option><%= data.major[1] %></option>
                <option>choose major</option>
            <% } %>
    
            <% majors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        <p class="minors"><label>Minor:
          <select name="minor">
            <% if (data.minor == ""){ %>
                <option>choose minor</option>
            <% } else{ %>
                <option><%= data.minor %></option>
                <option>choose minor</option>
            <% } %>
    
            <% minors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        Region:
        <p class="countries"><label>
          <select name="country" required>
            <option><%= data.country %></option>
    
            <% countries.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>

        <p class="states"><label>
          <select name="state">
            <% if (data.state == ""){ %>
                <option>State (US)</option>
            <% } else{ %>
                <option><%= data.state %></option>
                <option>State (US)</option>
            <% } %>
    
            <% states.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>

        <p><label>City: <input name="city" value="<%= data.city %>"></label></p>
        </div>
        <div class="column">
        
        <label for="bio">Bio:</label>
        <p>
            <textarea rows="3" cols="30" name="bio" id="bio" class="box"><%= data.bio %></textarea>
        </p>
        
        <label for="field">Field:</label>
        <p>
            <textarea rows="3" cols="30" name="field" id="field" class="box"><%= data.field %></textarea>
        </p>
        
        <label for="interests">Interests:</label>
        <p>
            <textarea rows="3" cols="30" name="interests" id="interests" class="box"><%= data.interests.join(", ") %></textarea>
        </p>
        <p><button type="submit">Submit</button></p>
    </form>
  </div>
  </div>
</body>
</html>
