<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Wellesley World</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/banner.ejs", {user: data.uid}) %>
    <%- include("partials/flashes.ejs") %>
    <%- include("partials/searchbar.ejs") %>

    <h1>Homepage</h1>

    <h2>My Friends (Recently Added)</h2>
    <div class="row-homepage">
        <% data.friends.forEach( (friend) => { %>
            <%- include("partials/personBlock.ejs", {friend: friend}) %>
        <% }); %>
    </div> 

    <h2>Friend Recommendations</h2>
    <div id="content">    
        <form method="GET" action="/do-select/">
            <label for="menu">Find friends by:</label>
            <select id="menu" name="menu">
                <option value="none">Choose One</option>
                <option value="field">Field</option>
                <option value="interests">Interests</option>
                <option value="location">Location</option>
                <option value="major">Major</option>
            </select>
            <input type="submit" value="Choose">
        </form>
    </div>

    <div class="row-homepage">
        <% data.newFriends.forEach( (friend) => { %>
            <%- include("partials/personBlock.ejs", {friend: friend}) %>
        <% }); %>
    </div> 

   <!--  <form 
    class="profile"
    method="GET"
    action="/profile/<%= data.uid %>">
        <p><button type="profile">My Profile</button></p>
    </form> -->

    <%-include("partials/logout.ejs")%>

</body>
</html>
