<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="row" id="profile">
        <div class="column">
        <h2><label><%= data.name %></label></h2>
        <p><label>Class of <%= data.classyear %> | <%= data.pronouns %></label></p>
        <strong>Major:</strong>
        <p><label><%= data.major %></label></p>
        <strong>Minor:</strong>
        <p><label><%= data.minor %></label></p>
        <strong>Region:</strong>
        <p><label><%= data.city %>, <%= data.state %>, <%= data.country %></label></p>
    </div>
    <div class="column">
        <p class="spacing"></p>
        <strong>Bio:</strong>
        <p><label><%= data.bio %></label></p>
        <strong>Field:</strong>
        <p><label><%= data.field %></label></p>
        <strong>Interests:</strong>
        <p><label><%= data.interests %></label></p>
    </div>
    </div>
        <form 
        class="profile"
        method="POST"
        action="/logout">
            <p><button type="logout">Logout</button></p>
        </form>
</body>
</html>
