<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

  <%-include("partials/flashes.ejs")%>
  
<div class="row">
    <form class="profileform"
          method="post"
          action="/profileform">
      <div class="column">
      <p><label>Name*: <input name="name" placeholder="Wendy Wellesley" required></label></p>

      <p><label>Wellesley Username*: <input name="username" placeholder="ww123" required></label></p>

      <p><label> Password*: <input type="text" name="password" placeholder="********"required></label></p>
      
      <p><label>Pronouns: <input name="pronouns" placeholder="they/them"></label></p>
      
      <p><label>Class Year*: <input name="classyear" placeholder="2000" required></label></p>
      
      <p class="majors"><label>Major*:
          <select name="major" required>
            <option>choose major</option>
    
            <% majors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        <p class="majors"><label>Add another major:
          <select name="major2">
            <option>choose major</option>
    
            <% majors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        <p class="minors"><label>Minor:
          <select name="minor">
            <option>choose minor</option>
    
            <% minors.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>
        
        Region:
        <p class="countries"><label>
          <select name="country" required>
            <option>Country*</option>
    
            <% countries.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>

        <p class="states"><label>
          <select name="state">
            <option>State (US)</option>
    
            <% states.forEach( elt => { %>
                    <option value="<%= elt %>"><%= elt %></option>
            <% }) %>

          </select>
        </label></p>

        <p><label>City: <input name="city" placeholder="Type your city"></label></p>
        </div>
        <div class="column">
        
        <label for="bio">Bio:</label>
        <p><textarea rows="3" cols="30" name="bio" id="bio" class="box"
          placeholder="Type something..."></textarea></p>
        
        <label for="field">Field:</label>
        <p><textarea rows="3" cols="30" name="field" id="field" class="box"
          placeholder="Type something..."></textarea></p>
        
        <label for="interests">Interests:</label>
        <p><em>Please enter interests separated by commas.</em></p>
        <p><textarea rows="3" cols="30" name="interests" id="interests" class="box"
          placeholder="Ex. Kayaking, bird-watching, cross-stitching"></textarea></p>
        </div>
        <p><button type="submit">Submit</button></p>
    </form>
  </div>
</body>
</html>
