<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/banner.ejs") %>
    <%-include("partials/flashes.ejs")%>

    <div class="row" id="profile">
        <div class="column">
        <% if (data.picture){ %>
            <br>
            <img class="profilepic" src="<%= data.picture.filepath %>" alt="<%= data.picture.alt %>">
        <% } %>
        <h2><%= data.name %></h2>
        <p>Class of <%= data.classyear %> | <%= data.pronouns %></p>
        <strong>Major:</strong>
        <p><%= data.major %></p>
        <strong>Minor:</strong>
        <p><%= data.minor %></p>
        <strong>Region:</strong>
        <% if (data.city == ""){ %>
            <% if (data.state == ""){ %>
            <p><%= data.country %></p>
            <% } else{ %>
                <p><%= data.state %>, <%= data.country %></p>
            <% } %>
        <% } else{ %>
            <% if (data.state == ""){ %>
                <p><%= data.city %>, <%= data.country %></p>
            <% } else{ %>
                <p><%= data.city %>, <%= data.state %>, <%= data.country %></p>
            <% } %>
            <% } %>
    </div>
    <div class="column">
        <p class="spacing"></p>
        <strong>Bio:</strong>
        <p><%= data.bio %></p>
        <strong>Field:</strong>
        <p><%= data.field %></p>
        <strong>Interests:</strong>
        <ul>
            <% data.interests.forEach( elt => { %>
                <li><%= elt %></li>
            <% }); %>
        </ul>
    </div>
    <% if (data.username == currUser) {%>
        <div class="column">
            <p class="spacing"></p>
            <strong>
                Added you as a friend:
            </strong>
            <ul>
                <% data.friends.forEach(f =>{%>
                    <li><%= f%></li>
                <% }); %>
            </ul>
        </div>

    <% } %>
    
    </div>
    

    <% if (data.username != currUser){ %>
        <p><a href="/chat/<%= data.username %>">Chat with <%= data.name %>!</a></p>
        
    <% } %>

    <% if ((data.username != currUser) && !(myData.friends.includes(data.username))){ %>
        <form method="POST" action="/add-friend/<%=data.username%>">
            <p><button type="addFriend">Add friend</button></p>
        </form>
     <% } %>

    <% if (data.username == currUser){ %>
        <p><a href="/profile/edit/<%= data.username %>">Edit profile!</a></p>
        <% if (!data.picture){ %>
            <p><a href="/profile/upload/<%= data.username %>">Add a profile picture!</a></p>
        <% } %>

        <%-include("partials/logout.ejs")%>

    <% } %>

</body>
</html>
